body {
background-color: #f0f0f2;
margin: 0;
padding: 0;
font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;       
overflow: hidden;
overscroll-behavior: none; 
}
main {
width: 600px;
margin: 5em auto;
padding: 2em;
background-color: #fdfdff;
border-radius: 0.5em;
box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}
a:link, a:visited {
color: #38488f;
text-decoration: none;
}
.box {
background-color: #f0f0f2;
position: relative;
overflow: hidden;
width: 100%;
aspect-ratio: 1/1;
}
.box img  {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
width: 100%;
aspect-ratio: 1/1;
-o-object-fit:cover;
object-fit:cover;
}
button {
background-color: #343434;
color: white;
padding: 1em 2em;
font-size: 32px;
font-family: sans-serif;
border-radius: 0.3em;
cursor: pointer;
}
@media (max-width: 700px) {
main {
margin: 0 auto;
width: auto;
}
}
